/* variables */
:root{
    --main-font-family:'DO Futuristic', sans serif;
    --btn-font-color: #ffff;
    --usergreetings-font-color: #d0902f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}


/* Header */
/* .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} */

/* index/Log-in */
.index-body{
    background: url('../img/BattleTech_batlefield.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

.index-titre{
    text-align: center;
    position: relative;
    padding-top: 5em;
    font-family: var(--main-font-family);
    color: #191919;
}


.sign-in-input-group{
    width: 400px;
    padding: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    opacity: 85%; 
    text-align: center;
    border-radius: 1em;   
}

.sign-in-input-group h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background: #191919;
    font-family: var(--main-font-family);
    
}

.sign-in-input-group input[type = "text"], .sign-in-input-group input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-family: var(--main-font-family);
}

.sign-in-input-group input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: var(--main-font-family);

}

/* Lobby */
.lobby-body{
    background: url("../img/hangar_lightsOff.jpg");
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.user-greetings{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main--family);
    color: var(--usergreetings-font-color);
}

.menu-section{
    
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
   
}

iframe{
    width: 100%;
    height: 100%;
}

.chat-section{
    grid-column-start: 2;
    height: 100%;
    min-width: 300px;
}


.button-section-firstCol, .button-section-secondCol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.button-section-firstCol{
    align-items: flex-end;
}

#lobby-form{
    height: 100%;
}


.input-section{
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }

  .btn-lobby, .btn-lobby:before {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
  
  .btn-lobby {
      width: 150px;
      height: 50px;
      cursor: pointer;
      font-family: var(--main--family);
      font-size: 20px;
      color: var(--btn-font-color);
      border: none;
      border-radius: 25px;
      background: url("../img/hazard-stripes-wallpaper.jpg");
      background-size: 150%;
      background-position: left;
      transition: 1s;
  }
  
  .btn-lobby:before {
      width: 150px;
      height: 50px;
      background: rgba(0,0,0,0.6);
      border-radius: 25px;
      position: absolute;
      transition: 500ms;
  }
  
  .btn-lobby:hover:before {
      background: rgba(0,0,0,0);
      text-shadow: 1px 1px 1px black;
  }
  
  .btn-lobby:hover {
      background-position: center;
      box-shadow: 0px 0px 10px var(--usergreetings-font-color);
  }
  
  .btn-lobby:focus {
      outline: none;
  }


  /* game layout */

  .game-body{
      width: 100vw;
      height: 100vh;
      background:url("../img/Battle-tech_cockpit.jpg") no-repeat center center fixed;
      background-size: cover;
      display: grid;
      grid-template-rows: 1fr 5fr 2fr;
      
  }

  /* Ennemy section */
  .ennemy-section{
      display: grid;
      grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
      
  }

  .ennemy-components{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

  .ennemy-life{
    background: url(../img/health+mana/PNG/redgear.png) center;
    background-size: 65% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
  }

  .ennemy-mana{
    background: url(../img/health+mana/PNG/gaz.png) center;
    background-size: 65% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black; 
  }

  .ennemy-card-number{
    background: url(../img/health+mana/PNG/carte.png) center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black; 
  }


  
  /* Battlefield */
  .battlefield-section{
      display: grid;
      grid-template-columns: 12fr 1fr;
      grid-template-rows: 1fr 1fr;
  }
  .battlefield-player-cards{
      grid-row-start: 2;
  }

  .battlefield-timer{
      grid-row: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .timer-box{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;   
      font-family: var(--main-font-family);
      color: var(--usergreetings-font-color);
      font-size: xx-large;
      font-weight: bolder;    
    }

    .hourglass > img{
        max-width: 100%;
        max-height: 100%;
    }


    /* player-section */
   .player-section{
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
   }



