/* variables */
:root{
    --main-font-family:'DO Futuristic', sans serif;
    --btn-font-color: #ffff;
    --usergreetings-font-color: #d0902f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}


/* Header */
/* .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} */

/* index/Log-in */
.index-body{
    background: url('../img/BattleTech_batlefield.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

.index-titre{
    text-align: center;
    position: relative;
    padding-top: 5em;
    font-family: var(--main-font-family);
    color: #191919;
}


.sign-in-input-group{
    width: 400px;
    padding: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    opacity: 85%; 
    text-align: center;
    border-radius: 1em;   
}

.sign-in-input-group h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background: #191919;
    font-family: var(--main-font-family);
    
}

.sign-in-input-group input[type = "text"], .sign-in-input-group input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-family: var(--main-font-family);
}

.sign-in-input-group input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: var(--main-font-family);

}

/* Lobby */
.lobby-body{
    background: url("../img/hangar_lightsOff.jpg");
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.user-greetings{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main--family);
    color: var(--usergreetings-font-color);
    justify-content: space-between;
}



.deco{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-section{
    
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
   
}

iframe{
    width: 100%;
    height: 100%;
}

.chat-section{
    grid-column-start: 2;
    height: 100%;
    min-width: 300px;
}


.button-section-firstCol, .button-section-secondCol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.button-section-firstCol{
    align-items: flex-end;
}

#lobby-form{
    height: 100%;
}


.input-section{
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }

  .btn-lobby, .btn-lobby:before {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
  
  .btn-lobby {
      width: 150px;
      height: 50px;
      cursor: pointer;
      font-family: var(--main--family);
      font-size: 20px;
      color: var(--btn-font-color);
      border: none;
      border-radius: 25px;
      background: url("../img/hazard-stripes-wallpaper.jpg");
      background-size: 150%;
      background-position: left;
      transition: 1s;
  }
  
  .btn-lobby:before {
      width: 150px;
      height: 50px;
      background: rgba(0,0,0,0.6);
      border-radius: 25px;
      position: absolute;
      transition: 500ms;
  }
  
  .btn-lobby:hover:before {
      background: rgba(0,0,0,0);
      text-shadow: 1px 1px 1px black;
  }
  
  .btn-lobby:hover {
      background-position: center;
      box-shadow: 0px 0px 10px var(--usergreetings-font-color);
  }
  
  .btn-lobby:focus {
      outline: none;
  }


  /* game layout */

  .game-body{
      width: 100vw;
      height: 100vh;
      background:url("../img/Battle-tech_cockpit.jpg") no-repeat center center fixed;
      background-size: cover;
      display: grid;
      grid-template-rows: 1fr 5fr 2.5fr;
      
  }

  /* Ennemy section */

  .ennemy-section-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
  }

  .ennemy-small-card{
      width: 10%;
      height: 75%;
      border: solid black 2px;
      margin: 1px;
      background: url("../img/BattleTech_cardback.jpg") no-repeat center   ;
      background-size:cover;
      
  }

  .ennemy-section{
      display: grid;
      grid-template-columns: 3fr 1fr 2fr 1fr 3fr;
      background: rgba(0,0,0,0.3);
      
      
  }

  .ennemy-components{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }


  .ennemy-life{
    background: url(../img/health+mana/PNG/redgear.png) center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
    
  }

  .ennemy-mana{
    background: url(../img/health+mana/PNG/gaz.png) center;
    background-size: 50% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black; 
  }

  .ennemy-card-number{
    background: url(../img/health+mana/PNG/carte.png) center;
    background-size: 85% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black; 
  }

  .ennemy-name, .ennemy-class{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      font-weight: bolder;
      font-size: large;
  }

  .ennemy-pic-box{

    background: rgba(0 , 0, 0, 0.3);

  }
  .ennemy-pic{

      width: 100%;
      height: 100%;
     background: url("../img/classes-img/warrior-atlas-icon.png") ;
     background-repeat: no-repeat;
     background-position-x: center;

  }

  

  
  /* Battlefield */
  .battlefield-section{
      display: grid;
      grid-template-columns: 12fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .battlefield-ennemy-cards-box, .battlefield-player-cards-box{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .battlefield-card{

    min-width: 50px;
    width: 10%;
    height: 90%;
    border: solid black 2px;
    margin: 10px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background: #191919;
    

  }

  .card-pic{
      background: url("../img/tank-thunderbolt.jpg")   ;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
  }

  .card-top{
      display: flex;
      justify-content: space-between;
      height: 50%;
  }

  .card-mana{
    
      height:100%;
      width: 50%;
      display: flex;
  }
  
  .mana-cost{
      position: absolute;
      z-index: 1;
     
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: x-large;
        font-weight: bolder;
        color:black; 
  }

  .card-attack{
      background: url("../img/Gamma_Cannon.webp") no-repeat;
      background-size: 100%;
      background-position-y: -15px;
  }

  .card-health{

    background: url(../img/health+mana/PNG/redgear.png) no-repeat;
    background-size: 50%;
    background-position-x: 20px;
    background-position-y: 10px;
  }

  

  .card-mana > img{
      right: 15px;
      bottom: 5px;
  }

  .card-icon > img{
    left: 10px;
    bottom: 5px;
}

  
  .card-icon{
      height: 100%;
      width: 50%;
      text-align: end;
  }

  .card-icon > img, .card-mana > img{
      max-height: 100%;
      max-width: 100%;
      position: relative;

  }



  .card-infos{
      color: var(--usergreetings-font-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: smaller;
      
  }

  .card-stats{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
  }

  .card-health, .card-attack{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      color: var(--usergreetings-font-color);
  }

  .card-health{
      justify-content: flex-end;
  }


  .battlefield-player-cards-box{
      grid-row-start: 2;
  }

  .battlefield-timer{
      grid-row: span 2;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .timer-box{
      min-height: 75%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;   
      font-family: var(--main-font-family);
      color: var(--usergreetings-font-color);
      font-size: xx-large;
      font-weight: bolder;    
      background: rgba(0,0,0,0.5);
      border-radius: 1em;
    }

    .hourglass > img{
        max-width: 100%;
        max-height: 100%;
    }


    /* player-section */
   .player-section{
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      background: rgba(0,0,0,0.3);
   }

   .player-components{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
   }


   .player-life{

    background: url(../img/health+mana/PNG/redgear.png) center;
    background-size: 65% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
    grid-column-start: 2;
   }

   .player-mana{
    background: url(../img/health+mana/PNG/gaz.png) center;
    background-size: 65% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black;
    grid-row-start: 2;
    grid-column-start: 2;
   }

   .player-card-number{  
    background: url(../img/health+mana/PNG/carte.png) center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:black;
    grid-row: 1/3; 
   }

   .player-cards{
       display: flex;
       justify-content: center;
        align-items: center;
   }

   .player-hand-card{
       width: 10%;
        height: 75%;
        border: solid black 2px;
        margin: 1px;
   }

   .player-btn-section{
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

   .player-btn-heropower{

    background: url(../img/button-components/icone-heropower-fist.png) center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
   }

   .player-btn-endturn{

    background: url(../img/button-components/fast-forward-64.png) center;
    background-size: 65% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
    grid-row: 2/3;
   }

   .player-btn-chat{
    background: url(../img/button-components//walkie-talkie.png) center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#ffff; 
    grid-row: 1/3;
    
   }

   .player-btn-chat, .player-btn-endturn, .player-btn-heropower:hover{
       cursor: pointer;
   }


