

.index-body{
    background: url('../img/chinese_tank_by_sinto_risky_d9uojbp.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    width: 100%;
}



.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sign-in-input-group{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    opacity: 85%; 
    text-align: center;
    border-radius: 1em;   
}

.sign-in-input-group h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background: #191919;
    
}

.sign-in-input-group input[type = "text"], .sign-in-input-group input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.sign-in-input-group input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}




